html{
   scroll-behavior: smooth;
}

body{
    background-color:#3074c2be;
}

.logo{
   padding-top: 1%;
   padding-bottom: 1%;
   text-align: center;
}

.menu, footer{
    background-color: rgba(169,169,169, 0.5);
    padding: 1.5%;
    font-family: 'Lora', serif;
}

.item_menu {
  line-height: 1.5;
  text-align: center;
}

.item_menu a{
  font-size: 1.2em;
}

.item_menu a:link{
  border: 3px solid #680d0d;
  color:	#000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
}

.item_menu a:visited{
  border: 3px solid #680d0d;
  color:	#000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
}


/* mouse over link */
.item_menu a:hover {
  border: 5px solid	#000000;
  color: #000000;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
}

 /* selected link */
 .itens_menu a:active {
  background-color: rgb(0, 0, 0);
  border: #000000;
  color: #bd0a0a;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
 }

section a:link{
  color: #c9254e;
}

section a:visited {
  color: rgb(107, 26, 161); 
}

section a:hover{
  color: #630c0c;
}

.fundo_diferente{
    background-image:linear-gradient(#FFF5EE);
}
     
.img_topo{
  width: 100%;  
}

.img_corpo{
    width: 50%;  
    margin-top: 1%;
    margin-bottom: 1%;
  }

figure{
    text-align: center;
}
    
.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: #000000;
    font-size: 2em; 
    font-family: 'Playfair Display', serif;         
}

h2{
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-bottom: 2%;
  font-family: 'Noto Sans', sans-serif;
}

p{
    font-size: 2em;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    font-family: 'Lora', serif;
    
}

.historia_personagens > p{
    line-height: 1.5;
    font-size: 2em;
}

.pinta_botao{
   width: 150px;
   height:50px;
   background-image:linear-gradient(#FFE4E1);
   margin: auto;
   padding: 0.8%;
   text-align: center;
   padding-top: 3%;

}

.pinta_botao:hover{
    background-color: rgba(75, 63, 185, 0.534);
}

.pinta_botao a:link, .pinta_botao :visited{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

footer > p{
    font-size: 1.2em;
    text-align: center;
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}

.esquerda{
  float: left;
  width: 20%;
  margin-left: 10%;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
  font-family: 'Lora', serif;
}


td,th{
  border: 5px inset #0000FF;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
.img_logo{
  width: 40%;
  text-align: center;

}
tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.3);
}

td:first-child{
  width: 40%;
}

td:first-child + td{
  width: 60%;
}

audio::-webkit-media-controls-panel{
  background-color:rgba(128, 128, 128, 0.3) !important;
  }
  
  .borda_form{
    background-color: rgba(128, 128, 128, 0.3) ;
    padding: 20px;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
  }

  input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
  }
 

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;

}

.col-75{
width: 75%;
float: left;
margin-top: 6px;
}

  

     

